<div class="form-control">
  <input
    [ngStyle]="{fontSize: 50}"
    class="btn btn-primary"
    type="submit"
    [value]="'⇑ (name)'"
    (click)="getAllSortedByName()"
  >
  <input
    [ngStyle]="{fontSize: 50}"
    class="btn btn-primary"
    type="submit"
    [value]="'⇓ (name)'"
    (click)="getAllReverseSortedByName()"
  >
</div>
<div class="form-control">
  <input type="text" placeholder="Find using name" [(ngModel)]="searchStr">
</div>
<table *ngIf="isLoaded; else loadingBlock">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Creation</th>
    <th>Modified</th>
    <th>Head organization</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let organization of organizations | searchByName:searchStr"
  >
    <td>{{organization.name}}</td>
    <td>{{organization.description}}</td>
    <td>{{organization.creationDate | date:'short'}}</td>
    <td>{{organization.dateModified! | date:'short'}}</td>
    <td>{{!!organization.headOrganization ? organization.headOrganization.name : ''}}</td>
    <td>
      <button (click)="delete(organization)" class="btn btn-minor">Delete</button>
    </td>
    <td>
      <button [routerLink]="['/admin', 'organization', 'edit', organization.id]" class="btn btn-minor">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
<hr>
<button [ngStyle]="{marginTop: '10px'}" [routerLink]="['/admin', 'organization', 'edit', 'create'.toString()]"
        class="btn btn-primary">Create
</button>


<ng-template #loadingBlock>
  <p class="text-center">Loading...</p>
</ng-template>
