<div class="form-control">
  <input
    [ngStyle]="{fontSize: 50}"
    class="btn btn-primary"
    type="submit"
    [value]="'⇑ (name)'"
    (click)="getAllSortedByName()"
  >
  <input
    [ngStyle]="{fontSize: 50}"
    class="btn btn-primary"
    type="submit"
    [value]="'⇓ (name)'"
    (click)="getAllReverseSortedByName()"
  >
</div>
<div class="form-control">
  <input type="text" placeholder="Find using name" [(ngModel)]="searchStr">
</div>
<table *ngIf="isLoaded; else loadingBlock">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Creation</th>
    <th>Modified</th>
    <th>Department where is working</th>
    <th>Agreement where is working</th>
<!--    <th>Additional field</th>-->
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let worker of workers | searchByName:searchStr"
  >
    <td>{{worker.shortClassnameWithName}}</td>
    <td>{{worker.description}}</td>
    <td>{{worker.creationDate | date:'short'}}</td>
    <td>{{worker.dateModified! | date:'short'}}</td>
    <td>{{worker.departmentWhereWorks!.name}}</td>
    <td>{{worker.agreementWhereIsWorking!.name}}</td>
    <td>
      <button (click)="delete(worker)" class="btn btn-minor">Delete</button>
    </td>
    <td>
      <button [routerLink]="['/admin', 'worker', 'edit', worker.id]" class="btn btn-minor">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
<hr>
<button [ngStyle]="{marginTop: '10px'}" [routerLink]="['/admin', 'worker', 'edit', 'create'.toString()]"
        class="btn btn-primary">Create
</button>

<ng-template #loadingBlock>
  <p class="text-center">Loading...</p>
</ng-template>
