<nav class="navbar bg-primary">
  <h1>
    <a>Logoal <i>admin</i></a>
  </h1>

  <ul>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'agreement']">Agreements</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'organization']">Organizations</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'department']">Departments</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'equipment']">Equipments</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'log_of_changes_of_equipment']">Log of changes of equipment</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'log_of_changes_of_worker']">Log of changes of worker</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'log_chief_of_agreement']">Log chief of agreement</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'log_head_of_department']">Log head of department</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'worker']">Workers</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'technician_has_equipment']">Technician has equipment</a></li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
